@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script data-main="@routes.Assets.versioned("javascripts/application.js")"
          src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>
        @helper.javascriptRouter("jsRoutes")(
          routes.javascript.Application.text
        )
    </head>
    <body>
        @content
    </body>
</html>
